
body {
    padding: 5% 0;
    background-image: url("../images/background.jpg");
    text-align: center;
}


.jumbotron {
    height: 600px;
    width: 80%;
    margin: auto;
    text-align: center;
    
}

h1 {
    text-align: center !;
}
